<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<fieldset>
    <legend>파일 업로드</legend>
    <table>
        <form action="/upload">

            <tr>
                <td>음성파일 : </td>
                <td><input type="file" accept="audio/*" value="파일 선택" name="file"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="업로드"/></td>
            </tr>
        </form>
    </table>
</fieldset>

</body>
</html>
